h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.animal-form {
  text-align: center;
  background-color: #b3ffa8;
}

.animal-list {
  margin-top: 20px;
}

.edit-form {
  text-align: center;
  background-color: #b3ffa8;
}

.border {
  border-style: solid black;
}

.age-select {
  text-align: center;
}
